.room-item {
  margin: 8px 0;
}

.room-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.room-link:hover {
  color: #007bff;
}

.unread-dot {
  display: inline-block;
  margin-left: 8px;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 81, 0);
  border-radius: 50%;
}
